html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.horizontal-lines {
    margin: auto;
    width: 90%;
    color: yellow;
}

/* Navigation Bar */

.list-items {
    margin: 0 30px;
    padding: 5px 10px;
    font-size: 1.1rem;
    color: white;
    text-decoration: none;

}

.list-items:hover {
    background-color: yellow;
    color: black;
    border-radius: 4px;
}

.logo {
    margin: 5px 15px;
    color: white;
}

.custom-toggler.navbar-toggler {
    border-color: white;
}

.navbar-nav .active {
    color: yellow !important;
}

/* Home */
.container-home {
    background-image: url('images/travel.webp');
    height: auto;
    padding: 2% 4%;
    overflow: hidden;
}

.home-heading h1 {
    color: yellow;
    line-height: 1.6;
    padding-top: 15%;
}

.form {
    padding-top: 5%;
}

.center {
    text-align: center;
}

/* Service */
.service-logo {
    width: 150px;
    height: 2000px;
}

/* .card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
} */

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}


/* Footer */
footer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('images/footer.webp');
}

footer .nav-link:hover {
    text-decoration: underline;
}


/* Contact Page */
.container-contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('images/Contact.webp');
    height: auto;
    background-repeat: no-repeat;
}

.container-contact h1,
.container-contact .form {
    color: yellow;
}

.contact-heading {
    margin-top: 10%;
}

.contact-heading h1 {
    font-size: 3.5rem;
}

/* About Page */
.container-about {
    background-image: url('images/About.webp');
    height: 70vh;
}

.about-heading {
    margin-top: 10%;
    color: yellow;
}

.about-heading h1 {
    font-size: 4.5rem;
}

/* Pricing-Page */
.container-pricing {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('images/Pricing.webp');
    height: auto;


}

.pricing-heading {
    margin-top: 8%;
}

.pricing-heading h1 {
    font-size: 3.6rem;
}

/* FAQ Page */
.container-faq {
    background-image: url('images/FAQs.webp');
    height: auto;
    margin: 0%;

}

.faq-heading {
    margin-top: 5%;
}

/* privacy page */
.privacy-heading {
    margin-top: 5%;
}

@media (max-width:1500px) {

    .about-heading {
        margin-top: 20%;
    }

    .container-about {
        height: 60vh;
    }

    .faq-heading {
        margin-top: 10%;
    }

    .privacy-heading {
        margin-top: 10%;
    }

    .pricing-heading {
        margin-top: 10%;
    }
}

@media (max-width:800px) {
    .contact-heading {
        margin-top: 30%;
    }

    .about-heading h1 {
        font-size: 3rem;
    }

    .about-heading {
        margin-top: 30%;
    }

    .container-about {
        height: 40vh;
    }

    .faq-heading {
        margin-top: 15%;
    }

    .privacy-heading {
        margin-top: 15%;
    }

    .pricing-heading {
        margin-top: 15%;
    }
}

@media (max-width:600px) {
    .faq-heading {
        margin-top: 20%;
    }

    .privacy-heading {
        margin-top: 20%;
    }

    .pricing-heading {
        margin-top: 20%;
    }
}

@media (max-width:400px) {
    .contact-heading h1 {
        font-size: 2.5rem;
    }

    .faq-heading {
        margin-top: 25%;
    }

    .privacy-heading {
        margin-top: 25%;
    }

    .pricing-heading {
        margin-top: 25%;
    }
    .home-heading{
        padding-top: 20%;
    }
}